<!DOCTYPE html>
<html ng-app="client">
<head>
    <title>Блог Клуба «КудЫ»</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/app.css?<%= version %>" rel="stylesheet" />
</head>
<body ng-cloak class="ng-cloak">

<div layout="column" layout-fill>
    <div layout="row" flex style="height: 100vh;">
        <md-sidenav class="md-sidenav-left md-whiteframe-z1 angular-animate left-menu" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <ng-include src="'/views/sidenav.html'"></ng-include>
        </md-sidenav>

        <div layout="column" layout-fill>
            <ng-include src="'/views/toolbar.html'"></ng-include>
            <md-content class="scroll-container main-content" flex>
                <div class="padding-top angular-animate view-frame" ng-view flex></div>
            </md-content>
        </div>
    </div>
</div>

<script src="/ckeditor/ckeditor.js?<%= version %>"></script>
<script src="/assets/app.js?<%= version %>"></script>
</body>
</html>