<div id="recentPosts" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#recentThreePosts" data-slide-to="{{$index}}" ng-class="{active: $index == 0}" ng-repeat="post in recentPosts"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item" ng-class="{active: $index == 0}" ng-repeat="post in recentPosts">
            <div class="carousel-ratio" style="background-image: url('{{post.image_url}}')"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{post.title}}</h1>
                    <p><a class="btn btn-lg btn-primary" href="/posts/{{post.permalink}}" role="button">Читать</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control"  data-target="#recentPosts" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" data-target="#recentPosts" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


<div class="container">

    <div class="well page" ng-repeat="post in posts">
        <h3>{{post.title}}</h3>
        <p ng-bind-html="post.body | cut | rawHtml"></p>
        <div class="blog-post-tags">
        <span ng-repeat="tag in post.tags">
            <span class="mdi-action-label">&nbsp;<a href="/tags/{{tag}}">{{tag}}</a></span>
        </span>
        </div>
    </div>

    <material-fab class="btn-material-orange-600" icon="mdi-content-add" title="Новая запись" action="new"></material-fab>
</div>