<div ng-controller="MainMenuController">
    <div class="navbar navbar-material-blue-grey navbar-fixed-top shadow-z-1" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" title="Клуб «КудЫ»" ng-click="locations.home()"><img src="/assets/logo.png" class="main-menu-logo" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle">Разделы<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-class="{active: locations.isOrders()}"><a href="/section/анонс" ng-click="locations.journal()">Анонсы</a></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/section/обзор" ng-click="locations.journal()">Обзоры</a></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/section/статья" ng-click="locations.journal()">Статьи</a></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/section/тренинг" ng-click="locations.journal()">Тренинги</a></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/section/техника" ng-click="locations.journal()">Техника</a></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/section/strike" ng-click="locations.journal()">Страйкбол</a></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/section/поход" ng-click="locations.journal()">Архив экспедиций</a></li>
                            <li class="divider"></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/gallery" ng-click="locations.journal()">Фотогалерея</a></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/section/видео" ng-click="locations.journal()">Видео</a></li>
                            <li class="divider"></li>
                            <li ng-class="{active: locations.isOrders()}"><a href="/about" ng-click="locations.journal()">О Клубе «КудЫ»</a></li>
                        </ul>
                    </li>
                    <li><a href="/business">Деловые предложения</a></li>
                </ul>

                <div class="pull-left hidden-xs">
                    <div class="navbar-form my-search" role="search">
                        <div class="input-group" style="width: 30vw">
                            <input type="text" class="form-control" placeholder="Поиск по блогу" />
                            <div class="input-group-btn">
                                <a class="btn btn-lg btn-flat mdi-action-search btn-white" type="submit"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-md hidden-sm">{{menuPerson.profile.name}}&nbsp;{{menuPerson.profile.surname}}<b class="caret"></b></span>
                            <span class="visible-md visible-sm"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ng-click="locations.profile()">Личный профиль...</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="user.signOut()">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>