<md-content class="main-content">
    <md-list>
        <md-card ng-repeat="post in posts">
            <div layout-gt-sm="row" layout-sm="column" layout-fill>
                <div flex-gt-sm="20" flex-sm="20" style="min-height: 120px; background: url('{{post.image_url}}') no-repeat center; background-size: cover"></div>
                <div flex-gt-sm="80" flex-sm="80" class="content-padded" style="background-color: white">
                        <h2>{{post.title}}</h2>
                        <span>
                            <md-button ng-repeat="tag in post.tags" class="mdi mdi-tag" ng-href="/tags/{{tag}}">&nbsp;{{tag}}</md-button>
                        </span>
                        <p ng-bind-html="post.body | cut | rawHtml"></p>
                        <md-button class="md-raised" ng-click="read()">Читать далее</md-button>
                </div>
            </div>
        </md-card>
    </md-list>
</md-content>

<md-button class="md-fab md-fab-bottom-right mdi mdi-plus large" ng-click="toggle()"></md-button>