<md-content ng-controller="MenuController">
    <div layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <img src="/assets/logo.png" width="32" height="32" ng-click="home()"/>
                <span ng-click="home()">&nbsp;Клуб «КудЫ»</span>
            </div>
        </md-toolbar>

        <md-button ng-if="!item.isDivider" ng-disabled="!!item.disabled" ng-class="item.buttonClass" ng-click="item.action()" ng-repeat-start="item in menuItems">
            <div layout="row" layout-fill>
                <div flex="20" layout="row" layout-align="center center">
                    <i class="mdi {{item.iconClass}}" style="font-size: 26px"></i>
                </div>
                <div flex="80" layout="row" layout-align="start center">
                    <span class="menu-item">{{item.title}}</span>
                </div>
            </div>
        </md-button>
        <md-divider ng-if="item.isDivider" ng-repeat-end></md-divider>
    </div>
</md-content>