<md-toolbar ng-controller="MenuController">
    <div class="md-toolbar-tools">
        <md-button md-no-ink class="mdi mdi-menu large" style="margin-left: -8px;" hide-lg hide-gt-lg ng-click="showSidebar()" aria-label="Меню"></md-button>
        <!-- fill up the space between left and right area -->
        <md-autocomplete flex placeholder="Поиск"
                         md-selected-item="selectedItem"
                         md-search-text="searchText"
                         md-items="item in getMatches(searchText)"
                         md-item-text="item.display">
            <span md-highlight-text="searchText">{{item.display}}</span>
        </md-autocomplete>
        <div ng-if="!!user" class="avatar" ng-click="profile()" style="background-image: url('{{user.avatarUrl || '/assets/default-avatar.png'}}')"></div>
        <md-button ng-if="!!user" hide-sm ng-click="profile()">{{user.name}}</md-button>
        <md-button ng-if="!!user" class="md-icon mdi mdi-logout large" aria-label="Выйти" ng-click="signOut()"></md-button>
    </div>
</md-toolbar>