<md-content class="main-content">
    <div style="width: 100%">
        <div class="post-cover-image" style="background-image: url('{{post.image_url}}');"></div>

        <div layout="row" layout-align="center center">
            <div class="post-cover-content"
                 flex-offset-gt-lg="20" flex-gt-lg="60"
                 flex-offset-lg="10" flex-lg="80"
                 flex-offset-gt-md="5" flex-gt-md="90"
                 flex-md="95"
                 flex-sm="100">
                <div class="md-whiteframe-z1 content-padded">
                    <div contenteditable
                         class="post-editor-header"
                         ng-model="post.title"
                         strip-br="true"></div>
                    <h4>Написал {{post.author.username}} {{post.date_published | date:'d MMMM yyyy в HH:mm:ss'}}</h4>
                    <div style="min-height: 80vh;" ng-model="post.body" ck-editor></div>
                </div>
            </div>
        </div>
    </div>
</md-content>

<md-button aria-label="save" class="md-fab md-fab-bottom-right mdi mdi-content-save large" ng-click="save()"></md-button>