<md-content class="main-content">
    <div style="width: 100%">
        <div class="post-cover-image" style="background-image: url('{{post.image_url}}');"></div>

        <div layout="row" layout-align="center center">
            <div class="post-cover-content"
                 flex-offset-gt-lg="20" flex-gt-lg="60"
                 flex-offset-lg="10" flex-lg="80"
                 flex-offset-gt-md="5" flex-gt-md="90"
                 flex-md="95"
                 flex-sm="100">
                <div class="md-whiteframe-z1 content-padded">
                    <h1>{{post.title}}</h1>
                    <h4>Написал {{post.author.username}} {{post.date_published | date:'d MMMM yyyy в HH:mm:ss'}}</h4>
                    <p ng-bind-html="post.body | rawHtml"></p>
                </div>
            </div>
        </div>
    </div>
</md-content>
