/*= require_tree . */

.padding-top {
}

.text-red {
    color: #ff5252;
}

.md-toolbar-tools > *{
    cursor: pointer;
}

.md-button.md-fab.mdi {
    font-size: 24px;
}

.md-button.mdi.large {
    font-size: 24px;
}

.avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: 4px;
    padding: 0;
    border-radius: 20px;
    display: inline-block;
}

.avatar.avatar-big {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid #dadada;
}

.inline {
    display: inline-block;
}

.padded-for-fab {
    margin-bottom: 70px;
}

.pointer {
    cursor: pointer;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}