/* CUSTOMIZE THE CAROUSEL */

#recentPosts {
    margin-top: -20px;
    z-index: 0;
}

/* Carousel base class */
.carousel {
    height: 300px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 300px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}

.carousel-ratio {
    position:relative;
    width: 100%;
    height: 300px;
    background: no-repeat center center;
    background-size: cover;
}

.carousel-caption>h1 {
    text-shadow: 0 1px 7px rgba(0,0,0,1);
}