.material-padded {
    margin-bottom: 25px !important;
}

.fab-material-wrapper {
    position: fixed;
    padding-right: 23px;
    padding-bottom: 23px;
    right: 0;
    bottom: 0;
    z-index: 1500;
}

.layout-content {
    height: 90%;
}