.post-cover-image {
    position: absolute;
    width: inherit;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.post-cover-content {
    z-index: 10;
    padding-top: 100px;
    margin-bottom: 200px;
}

.post-cover-content .md-whiteframe-z1 {
    background-color: white;
}

.post-editor-header {
    font-size: 32px;
    font-weight: bold;
}