.md-button.md-fab.md-fab-bottom-right {
    position: fixed;
}

.md-button.md-fab.md-fab-bottom-left {
    position: fixed;
}

.md-button.md-fab.md-fab-top-right {
    position: fixed;
}

.md-button.md-fab.md-fab-top-left {
    position: fixed;
}

md-toast.md-default-theme {
    position: fixed;
}

md-card>h1, md-card>h2, md-card>h3, md-card>h4 {
    margin-left:  16px;
    margin-right: 16px;
}

md-card {
    background-color: white;
}

md-content.md-default-theme.main-content {
    background-color: #fafafa;
}

md-whiteframe.md-whiteframe-z1, md-whiteframe.md-whiteframe-z2, md-whiteframe.md-whiteframe-z3, md-whiteframe.md-whiteframe-z4, md-whiteframe.md-whiteframe-z5 {
    background-color: #ffffff;
}